<div class="mainContainer" data-ng-controller="ChatController">
	<h3>Welcome, {{user}}</h3>
	<div class="chatContainer">
		<div class="messages">
			<div class="chatarea">
				{{chatArea}}
			</div>
			<div class="status">
				{{user}} is typing...
			</div>
		</div>
		<div class="typearea">
			<form class="newMessage" data-ng-submit="submitChat()">
				<textarea id="msg" data-ng-model="chatText"></textarea>
				<div class="submit">
					<input type="submit" value="Send"></input>
				</div>
			</form>
		</div>
	</div>
</div>